@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');

@import './scss/reset','./scss/variables';
body {
    background-color: $backgroundColor;
    font-family: 'Amatic SC', sans-serif;
}

p {
    font-family: 'Hubballi', cursive;
}